<!-- home/templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">MyStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:list' %}">Shop</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-light" href="{% url 'cart:view' %}">
          Cart 🛒 (<span id="cart-count">{{ cart_items|length }}</span>)
        </a>
      </div>
    </div>
  </div>
</nav>